
.content-form{
    width:40%;
    height: 10%;
    padding: 10px;
    background:#fff;
    border-radius: 5px;
    margin:15px auto;
}
.title-form{
    margin-left: 70px;
}
input{
    margin-top: 5px;
    width: 100%;
    border: 2px solid var(--primary-color);
    padding: 3px 20px;
    font-size: 20px;
    outline: none;
    border-radius: 5px;
    color: var(--color-input);
    box-shadow: 2px 2px 2px 2px #eee;
}
.button{
    padding:2px;
    height:2%;
}
.form-head{
    display:flex;
}
.icon-home{
    font-size: 27px;
    color: var(--primary-color);
}
.ov-btn-slide-right{
    margin:0;
}